
pandas
numpy
Flask
gunicorn
sklearn
PyYAML
evidently
# -e . will search all the packages inn the current directory (. means current directory)
# if wanted to install -e . , setup.py file is mandatory.
-e . 

